/* Variables */
:root {
    --night-bg-color: #030839;
    --night-txt-color: lightblue;
    --day-bg-color: tan;
    --day-txt-color: black;
}




/* Whole Page */
html {
    background-color: var(--night-bg-color);
    color: var(--night-txt-color);
}




/* Hamburger Menu drop-down */
.hamburger_menu {
    display: inline-block;
    cursor: pointer;
}

.topbar {
    top: 20px;
    right: 25px;
}

.midbar {
    top: 30px;
    right: 25px;
}

.botbar {
    top: 40px;
    right: 25px;
}
  
.topbar, .midbar, .botbar {
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--night-txt-color);
    margin: 5px 0;
    transition: 0.4s;
    position: absolute;
}
  
  /* Rotate first bar */
  .turn .topbar {
    transform: translate(0, 10px) rotate(45deg);
}
  
  /* Fade out the second bar */
  .turn .midbar {
    opacity: 0;
}
  
  /* Rotate last bar */
  .turn .botbar {
    transform: translate(0, -10px) rotate(-45deg);
}



/* Home */
.homepage {
    padding: 150px 0 450px 250px;
}

.name {
    font-family: Arial;
    font-size: 50px;
}

.shortdesc {
    font-family: Arial;
    font-size: 25px;
}

.minibio {
    font-family: Arial;
    font-size: 15px;
    padding: 10px 0;
}

.homepage button {
    color: var(--night-txt-color);
    border-radius: 10px;
    background-color: var(--night-bg-color);
    font-family: Arial;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}




/* About */

.aboutpage {
    padding: 0 0 400px 0;
}

.aboutpage img {
    width: 400px;
    height: 600px;
    padding: 10px;
}

.icons a{
    padding: 25px 15px;
    float: right;
}




/* Skills */

.skillspage {
    padding: 0 0 400px 0;
}

.skillspage img {
    height: 50px;
    width: 50px;
    padding: 10px;
}




/* Projects */

.projectpage {
    padding: 0 0 400px 0;
}




/* Experiences */

.experiencepage {
    padding: 0 0 400px 0;
}



/* Contact Me */

.contactpage {
    padding: 0 0 400px 0;
}

.contactpage img {
    height: 50px;
    width: 50px;
    padding: 10px;
}




/* Footer */

footer {
    text-align: center;
}