/* Variables */
:root {
  --night-bg-color: #030839;
  --night-txt-color: lightblue;
  --day-bg-color: tan;
  --day-txt-color: black;
}

/* Main Styling */
.Portfolio, html {
  background-color: var(--night-bg-color);
  color: var(--night-txt-color);
}

.sectionHead {
  padding: 0px 200px;
}

.opener {
  font-size: 20px;
}

.headliner {
  font-size: 40px;
  margin: 10px 75px 50px;
}