/* Variables */
:root {
  --night-bg-color: #020527;
  /* --night-bg-color: #030839; */
  --night-txt-color: lightblue;
  --day-bg-color: tan;
  --day-txt-color: black;
}

/* Main Styling */
.Portfolio, html {
  background-color: var(--night-bg-color);
  color: var(--night-txt-color);
}

.sectionHead {
  padding: 0px 200px;
}

.opener {
  font-size: 20px;
}

.headliner {
  font-size: 40px;
  margin: 10px 75px 50px;
}

.blur1 {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.blur2 {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}