
.experiencepage {
    padding: 0 0 400px 0;
  }
  
  .timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .timeline-container {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .content {
    position: relative;
    width: 500px;
    
    padding: 20px;
    border-radius: 5px;

    background-color: rgba(95, 94, 94, 0.4);
    color: white;

    margin: 25px 0;
  }

  .content.education {
    border-left: 8px solid lightseagreen;
  }
  
  .content.experience {
    border-right: 8px solid lightskyblue;
  }

  .content h2, .content h3, .title, .details, .skills {
    margin: 0;
    padding: 5px;
  }

  .times, .location {
    margin: 0;
    padding: 0 5px;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .skill {
    color: var(--night-bg-color);
    border-radius: 10px;
    padding: 4px 6px; 
    font-size: 14px;
    font-weight: 500;
    margin: 2px; 
  }

  .content.education .skill {
    background-color: lightseagreen;
  }

  .content.experience .skill {
    background-color: lightskyblue;
  }
  