
.experiencepage {
    padding: 0 0 400px 0;
  }
  
  .timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .timeline-container {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .content {
    position: relative;
    width: 500px;
    
    padding: 20px;
    border-radius: 5px;

    background-color: var(--night-txt-color);
    color: var(--night-bg-color);
  }

  .content.education {
    border-left: 7px solid green;
  }
  
  .content.experience {
    border-right: 7px solid purple;
  }

  .content h2 {
    margin: 0;
    padding: 5px;
  }

  .content h3 {
    margin: 0;
    padding: 5px;
  }

  .content p {
    margin: 0;
    padding: 5px;
  }
  