.navMenu {
  overflow: hidden;
  position: absolute;
  right: 425px;
}

.sideNavMenu {
  background-color: var(--night-bg-color);
  width: 225px;
  height: 100vh;
  position: fixed;
  top: 0;
  /* right: -100%; */
  right: 0;
  transition: 850ms;
  display: flex; 
  align-items: center;
  z-index: 1;
}

.nav-links {  
  list-style-type: none;
  font-size: 18px;
  display: flex;
}

.side-nav-links {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.nav-links li a {
  display: block;
  color: var(--night-txt-color);
  padding: 10px 25px;
  text-decoration: none;
}

.side-nav-links li a {
  display: block;
  color: var(--night-txt-color);
  padding: 20px 25px;
  text-decoration: none;
}

.nav-links li a:hover {
  transform: scale(1.2);
  border-bottom: 2px solid currentColor;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}
