.aboutpage {
  padding: 2vh 0 30vh 0;
}

.aboutpage .sectionBody {
  margin: auto;
  width: 90%;
}

.aboutpage img {
  position: relative;
  float: left;
  width: 350px;
  height: auto;
  margin: 10px 75px 10px 100px;

  border-radius: 20px;
  border: 5px solid var(--night-txt-color);
  z-index: 2;

  /* box-shadow: 0 0 150px 50px rgb(15, 65, 118); */
  /* box-shadow: 0 0 30px 10px rgb(0, 123, 255); */
  transition: ease-in-out 0.3s;

  /* animation: glowing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

/* .aboutpage img:hover {
  box-shadow: 0 0 30px 10px rgb(0, 123, 255);
  box-shadow: 0 0 150px 50px rgb(15, 65, 118);
} */

.aboutinfo {
  padding: 10px 150px;
}

.bio {
  position: relative;
  z-index: 1;

  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: white;

  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 50px 20px 20px;
  margin-bottom: 0;
  border-radius: 25px;
  transform: translateY(-10px);
}

.icons {
  display: flex;
  float: right;

  margin-top: 0;
  margin-right: 125px;
}

.icons a {
  font-size: 35px;
  color: inherit;
}

.resume {
  padding: 5px 15px;
  margin: 0 0 0 225px;
  color: var(--night-bg-color);
  background-color: var(--night-txt-color);
}

.icons a,
.resume {
  text-decoration: none;
  /* Removes the underline */
}

.icons a:hover,
.resume:hover {
  color: #007bff;
}

.aboutpage li {
  display: inline-block;
  padding: 20px 15px;
  z-index: 1;
}


/* @keyframes glowing {
  0% {
    box-shadow: 0 0 150px 50px rgb(15, 65, 118); 
  }
  50% {
    box-shadow: 0 0 30px 10px rgb(0, 123, 255);
  }
  100% {
    box-shadow: 0 0 150px 50px rgb(15, 65, 118); 
  }
} */

/* Mobile Responsive */
@media only screen and (max-width: 900px) {
  .aboutpage {
    padding: 2vh 0 20vh 0; 
  }

  .aboutpage .sectionBody {
    width: 95%;
  }

  .aboutpage img {
    width: 35vh;
    height: auto;
    margin: 1vh auto;
    float: none; 
    display: block;
  }

  .aboutinfo {
    padding: 1vh 3vh; 
  }

  .bio {
    font-size: 16px;
    padding: 1vh 2vh;
  }

  .icons {
    float: none; 
    justify-content: center;
    padding: 0;
    margin: 1vh 0;
  }

  .icons a {
    font-size: 30px;
  }

  .aboutpage li {
    display: block;
    padding: 1vh;
  }
}
