@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.contactpage {
  padding: 2vh 0 2vh 0;
  position: relative;
}

.contactpage img {
  height: auto;
  width: 50px;
  padding: 10px;
}

.contactpage .sectionBody {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.contactOptions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.emailOption,
.calendlyOption {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(70, 130, 180, 0.4);
}

.emailOption {
  margin-bottom: 40px;
}

.calendlyOption {
  margin-top: 40px;
}

.contactLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  cursor: pointer;
  gap: 5px;
}

.contactLink {
  color: var(--night-txt-color);
  text-decoration: none;
  cursor: pointer;
}

/* Contact Form Styling */
.contactForm {
  max-width: 650px;
  margin: 0;
  padding: 20px;

  border-radius: 20px;
  background-color: rgba(126, 160, 189, 0.7);
}

.contactForm h2 {
  color: var(--night-txt-color);
  text-align: center;
  margin-bottom: 20px;
}

.contactForm input,
.contactForm textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid lightsteelblue;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contactForm button {
  background-color: var(--night-txt-color);
  color: var(--night-bg-color);
  padding: 10px 20px;
  margin-top: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
}

.sectionBody h2,
.sectionBody h3,
.sectionBody a,
.sectionBody button,
.nameInput::placeholder,
.phoneInput::placeholder,
.emailInput::placeholder,
.subjectInput::placeholder,
.messageInput::placeholder {
  font-family: 'Space Grotesk', sans-serif;
}

.hiddenOR {
  display: none;
}

@media only screen and (max-width: 900px) {
  .contactpage {
    padding: 2vh 0; 
  }

  .contactpage img {
    width: 40px;
  }

  .contactpage .sectionBody {
    flex-direction: column;
    gap: 0px;
  }

  .contactOptions {
    gap: 0px;
  }

  .emailOption,
  .calendlyOption {
    padding: 15px; 
    margin: 0; 
  }

  .hiddenOR {
    display: block;
  }

  .contactForm {
    width: 75%; 
    padding: 15px;
    border-radius: 10px; 
  }

  .contactForm input,
  .contactForm textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0; 
    font-size: 14px; 
  }

  .contactForm button {
    padding: 8px 16px; 
    font-size: 14px; 
  }

  .sectionBody h2 {
    font-size: 20px;;
 }

.sectionBody h3,
.sectionBody a,
.sectionBody button,
.nameInput::placeholder,
.phoneInput::placeholder,
.emailInput::placeholder,
.subjectInput::placeholder,
.messageInput::placeholder {
    font-size: 14px;
  }
}
