.navMenu {
  overflow: hidden;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 2;
}

.sideNavMenu {
  /* background-color: var(--night-bg-color); */
  background: linear-gradient(to right, var(--night-bg-color) 35%, var(--night-glow-color) 100%);

  width: 22vh;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: 850ms;
  display: flex;
  align-items: center;
  border-radius:  25px 0 0 25px;
  z-index: 4;
}

.nav-links {
  list-style-type: none;
  font-size: 18px;
  display: flex;
}

.side-nav-links {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.nav-links li a {
  display: block;
  color: var(--night-txt-color);
  font-weight: 600;
  padding: 10px 25px;
  text-decoration: none;
}

.side-nav-links li a {
  display: block;
  color: var(--night-txt-color);
  padding: 20px 0;
  text-decoration: none;
}

.nav-links li a:hover {
  transform: scale(1.2);
  border-bottom: 2px solid currentColor;
  padding-bottom: 10px;
}

.nav_visible {
  opacity: 1;
  transition: opacity ease-in-out 1s;
}

.nav_hidden {
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.side_visible {
  transform: translateX(0);
  transition: transform ease-in-out 1s;
}

.side_hidden {
  transform: translateX(100%);
  transition: transform ease-in-out 1s;
}

/* Mobile Responsive */
@media only screen and (max-width: 1000px) {
  .navMenu {
    display: none;
  }

  .side_hidden {
    transform: translateX(125%);
    transition: transform ease-in-out 1s;
  }

  .sideNavMenu {
    width: 20vh;
    height: 35vh;
    margin-top: 10vh;
    margin-right: 5vh;
    border-radius: 25px;
    background: linear-gradient(to right, var(--night-glow-color) 0%, var(--night-bg-color) 100%);
  }

  .side-nav-links li a {
    padding: 7px 0;
    text-decoration: none;
    font-size: 14px;
  }

  .side-nav-links {
    padding-left: 20px;
  }

}