@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.projectpage {
  padding: 2vh 0 30vh 0;
}

.projects {
  color: white;
}

.projects li {
  list-style-type: none;
}

.projects a {
  text-decoration: none;
  color: white;
}

.projects h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 28px;
  margin: 0;

  /* text-shadow:
    -1px -1px 0 var(--night-txt-color),  
    1px -1px 0 var(--night-txt-color),
    -1px 1px 0 var(--night-txt-color),
    1px 1px 0 var(--night-txt-color);  */
}

.projects p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
}

.projects a:visited {
  color: white;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  max-width: 80%;
  position: relative;

  /* gap: 0px; */
}

.projectItem {
  background-color: rgb(21, 28, 95);
  margin: 35px 0; /* reduce to 20px 0 when more projects are added */
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 5%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 40px;

  animation: wipe-enter 1s ease-in-out;

  /* border-radius: 50px; */
  /* background-color: rgb(7, 40, 56); */
  /* background-color: var(--night-glow-color); */
}

.projectButtons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.viewbtn {
  border-radius: 40px;
  border: 2px solid cyan;
  padding: 2.5px 10px;
  cursor: pointer;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 120%;
  margin: 8px;
  padding: 0;
}

.skillList li {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 5px;
  margin: 3px 5px;
  border: 1px solid white;

  color: white;
  border-radius: 12px;

  /* border: 2px solid var(--night-txt-color); */
  /* background-color: white; */
  /* color: var(--night-txt-color); */
}

.projectItem h3,
.projectItem li,
.projectItem:hover p,
.projectItem:hover a {
  display: block;
}

.projectItem p,
.projectItem a,
.projectItem:hover h3,
.projectItem:hover li {
  display: none;
}

.projectItem.budget-app {
  background-image: url('../../assets/thumbnails/project1.png');
  background-size: cover;
}

.projectItem.restful-api {
  background-image: url('../../assets/thumbnails/project2.png');
  background-size: cover;
}

.projectItem.sprint {
  background-image: url('../../assets/thumbnails/project3.png');
  background-size: cover;
}

.projectItem.froggsite {
  background-image: url('../../assets/thumbnails/project4.png');
  background-size: cover;
}

.projectItem.word-games {
  background-image: url('../../assets/thumbnails/project5.png');
  background-size: cover;
}

.projectItem.starwars-form {
  background-image: url('../../assets/thumbnails/project6.png');
  background-size: cover;
}

.projectItem.budget-app:hover,
.projectItem.restful-api:hover,
.projectItem.sprint:hover,
.projectItem.froggsite:hover,
.projectItem.word-games:hover,
.projectItem.starwars-form:hover {
  background-image: none;
  transform: scale(1.15);
  transition: transform 0.5s;
}


/* Animations */
@keyframes zoomIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.4);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, .025);
  }

  50% {
    transform: scale(0.8, .025);
  }
}