@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.skillspage {
  padding: 2vh 0 30vh 0;
}

.skillspage img {
  height: 50px;
  width: 50px;
  padding: 10px;
  box-shadow: 0 0 5px 2px rgb(0, 225, 255);
  border-radius: 35%;}

.skillspage ul {
  margin: 100px;
}

.skillspage li {
  flex: 20%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.skillspage {
  z-index: 1;
}

.skillSlider__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 25px;

  animation: slideInLeft 1.5s ease-in-out;

  /* box-shadow: 0 0 10px 3px rgb(0, 123, 255); */
  /* box-shadow: 0 0 10px 3px rgb(0, 225, 255); */

  /* background-color: rgba(255, 255, 255, 0.07); */
  /* background-color: #2c2c68; */
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsCategory h3 {
  text-align: center;
  font-size: 25px;
  transform: translateY(25px);
}

.skillsCategory {
  width: 1150px;
  padding: 0 20%;
  background-color: rgb(21, 22, 55);
  z-index: 2;

  /* background-color: var(--night-bg-color); */
  /* background-color: rgba(255, 255, 255, 0.07); */
  /* box-shadow: 0 0 30px 10px rgb(0, 123, 255); */
}

.skillsGrid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 300px;

  animation: FadeIn 1s ease-in-out;
  
  /* box-shadow: 0 0 30px 10px rgb(0, 123, 255); */
}

/* Arrows */
.arrow {
  position: absolute;
  cursor: pointer;
  width: 40px; 
  height: 40px; 
}

.arrow.left {
  left: 12%; 
  top: 50%;
  transform: translateY(-50%) translateX(-12%);
  z-index: 3;
}

.arrow.right {
  right: 12%; 
  top: 50%; 
  transform: translateY(-50%) translateX(-12%);
  z-index: 3;
}

/* Indicators */
.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: translateY(-75px);
  cursor: pointer;
  z-index: 2;
}

.indicator {
  cursor: pointer;
  height: 10px;
  border: none;
  border-radius: 100%;
  background-color: rgb(86, 86, 86);
  margin: 0 5px;
  z-index: 1;
}

.indicating {
  cursor: pointer;
  height: 10px;
  border: none;
  border-radius: 100%;
  background-color: var(--night-txt-color);
  box-shadow: 0 0 0 2.5px var(--night-txt-color);
  outline: 1.5px solid rgb(32, 28, 60);
  margin: 0 5px;
  z-index: 1;
}

.skillsCategory h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

.skillsCategory p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

/* Fade In Animation */
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Mobile Responsive */
@media only screen and (max-width: 1200px) {
  .skillspage {
    padding: 2vh 0 20vh 0;
  }

  .skillspage img {
    height: 5vh;
    width: 5vh; 
  }

  .skillspage ul {
    margin: 5vh;
  }

  .skillSlider__container {
    height: auto;
  }

  .skillsCategory {
    width: 50%;
    padding: 0 10%;
  }

  .skillsCategory h3 {
    font-size: 22px;
    transform: translateY(15px); 
  }

  .skillsCategory p {
    font-size: 16px;
  }

  .skillsGrid {
    height: auto; 
    width: auto; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .skillspage li {
    flex: 1 1 calc(50% - 20px); 
    display: flex; 
    justify-content: center;
    box-sizing: border-box; 
  }

  /* Arrows */
  .arrow {
    width: 35px;
    height: 35px;
  }

  .arrow.left {
    left: 24%; 
    transform: translateY(-50%) translateX(-24%);
  }
  
  .arrow.right {
    right: 24%; 
    transform: translateY(-50%) translateX(-24%);
  }

  /* Indicators */
  .indicators {
    margin-top: 15px;
    transform: translateY(0);
  }

  .indicator, .indicating {
    height: 8px; 
  }

  .skillspage img {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 500px) {
  .arrow.left {
    left: 10%; 
    transform: translateY(-50%) translateX(-10%);
  }
  
  .arrow.right {
    right: 9%; 
    transform: translateY(-50%) translateX(-10%);
  }

  .skillspage img {
    height: 25px;
    width: 25px;
  }

  .skillspage p {
    margin: 10px;
    font-size: 10px;
  }

  .skillsCategory {
    width: 65%;
  }

}



