@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
  --night-bg-color: #020527;
  /* --night-bg-color: #030839; */
  --night-txt-color: lightblue;
  --night-glow-color: rgba(25, 55, 109, 1);
  /* --night-glow-color: rgba(18, 55, 125, 0.7); */
  /* --night-glow-color: rgb(43, 70, 117); */

  --day-bg-color: tan;
  --day-txt-color: black;
}

/* Main Styling */
.Portfolio, html {
  background-color: var(--night-bg-color);
  color: var(--night-txt-color);

  scroll-behavior: smooth;
  overflow-x: hidden;

  padding: 0;
  margin: 0;
}

.sectionHead {
  padding: 0 20vh;
}

.opener {
  font-size: 22px;
  font-family: 'PT Serif', serif;
}

.headliner {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  margin: 1vh 7.5vh 5vh;
}

.hidden {
  display: none;
}

/* Web Scroller */
::-webkit-scrollbar {
  display: none;
  width: 10px; 
}
/* 
::-webkit-scrollbar-track {
  background: none; 
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  background-color: var(--night-txt-color); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
} */

/* Footer */
footer {
  text-align: center;
}

/* Mobile Responsive */
@media only screen and (max-width: 900px) {
  .sectionHead {
    padding: 0 5vh;
  }

  .opener {
    font-size: 18px;
  }

  .headliner {
    font-size: 30px;
    margin: 1vh 5vh 5vh;
  }
}